*{
	margin: 0;
	padding: 0;
}

.container{
	display: grid;
	margin: 100px auto;
	width: 500px;
	height: 500px;
	border: solid;
}

.grid-line{
	border: solid 1px #fff5f2;
}

.test{
	background-color: lightgrey;
	margin: 0;
	padding: 0;
}

.test:hover{
	background-color: grey;
}